@{
    ViewData["Title"] = "Home Page";
}

<div class="container mt-4">
    <div class="position-relative text-white text-center mb-4"
         style="background: linear-gradient(to bottom, rgba(0,0,0,0.5), rgba(0,0,0,0.5)),
                 url('/images/Plane.jpg') center/cover no-repeat;
                 height: 50vh; border-radius: 12px;">
        <div class="position-absolute top-50 start-50 translate-middle">
            <h1 class="display-1 fw-bold text-warning text-uppercase" style="font-size: 4rem;">Welcome to WorldTour!</h1>
            <p class="lead text-light fw-bold fs-4">Discover the best hotels and landmarks across the World.</p>           
        </div>
    </div>

    <div class="container my-5">
        <h2 class="text-center fw-bold mb-4 text-light">World wide destinations</h2>
        <div class="row">
            <div class="col-md-6">
                <div class="card shadow-lg border-0 rounded-3 bg-secondary">
                    <div class="card-body text-center p-4">
                        <h5 class="card-title fw-bold text-primary">Visit some of the most beutiful Destinations.</h5>
                        <p class="card-text text-light">And explore their best landmarks.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card shadow-lg border-0 rounded-3 bg-secondary">
                    <div class="card-body text-center p-4">
                        <h5 class="card-title fw-bold text-danger">Worlds top Hotels</h5>
                        <p class="card-text text-light">Enjoy your vacashion.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
