@{
    ViewData["Title"] = "Home Page";
}

    <div class="container mt-4">
        <img src="https://www.intercorpgrp.com/blog/wp-content/uploads/2015/07/Top-10-Holiday-Travel-Tips.png" class="img-fluid" alt="...">
        <h1 class="text-center">Welcome to WorldTravel!</h1>
        <h2 class="text-center">Lets start your Journey!</h2>
    </div>
    <div class="container my-5">
    <div class="card-group">
        <div class="card">
            <img src="https://wendyhainestravel.co.uk/wp-content/uploads/2021/10/banner-jpg-1024x287.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Travel around the World!</h5>
                <p class="card-text">Visit some of the most beutiful Destinations and their Landmarks.</p>
            </div>
        </div>
        <div class="card">
            <img src="https://bynder.onthebeach.co.uk/cdn-cgi/image/width=1400,quality=70,fit=cover,format=auto,height=933/m/4a9d6c8c5f714e6/original/Xoria-Deluxe-Hotel.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">World's best Hotels</h5>
                <p class="card-text">Book rooms in some of the best Hotels in the world.</p>
            </div>
        </div>
    </div>       
    </div>

